<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Consulta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>
<body>
    <div class="container">
        <h1>Resultado da Consulta</h1>
        
        <span>Página {{ pagina }} de {{ total_paginas }}</span><br>
        <div class="paginacao">
                    
            {% if pagina > 1 %}
                <a href="{{ url_for('resultado', pagina=1) }}">« Primeira</a>
            {% endif %}
        
            
            {% set start_page = pagina - 4 if pagina > 5 else 1 %}
            {% set end_page = start_page + 9 if start_page + 9 <= total_paginas else total_paginas %}
        
            
            {% if end_page - start_page < 9 %}
                {% set start_page = end_page - 9 if end_page - 9 > 0 else 1 %}
            {% endif %}
        
           
            <div class="paginar">
                {% for p in range(start_page, end_page + 1) %}
                    {% if p == pagina %}
                        <strong>{{ p }}</strong> 
                    {% else %}
                        <a href="{{ url_for('resultado', pagina=p) }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        
          
            {% if pagina < total_paginas %}
                <a href="{{ url_for('resultado', pagina=total_paginas) }}">Última »</a>
            {% endif %}
        </div>
        
        <a href="/index">Nova Consulta</a>
        

        <br><br><br>
        
            {% if resultado %}
            <ul>
                {% for item in resultado %}
                <li>
                    <strong>Documento: {{ item.numero_processo }}</strong> <pre>
                        <td>Orgão: {{ item.nomeOrgao }}</td>
                        <td>Data de envio: {{ item.dataenvio }}</td>
                        <td>Data de disponibilização: {{ item.datadisponibilizacao }}</td>
                        <td>Tipo de comunicação: {{ item.tipoComunicacao }}</td>
                        <td>Meio: {{ item.meiocompleto }}</td>
                        <td>Parte(s): {{ item.destinatarios }}</td>
                        <td>Advogado(s): {{ item.destinatarioadvogados }}</td>
                    </pre>
                </li>
                {% endfor %}
            </div>

            </ul>
        {% elif e %}
            <div class="error">
                <p>Erro ao consultar a API: {{ e }}</p>
            </div>
        {% else %}
            <p>NADA ENCONTRADO</p>
        {% endif %}

        
        
        
        
    </div>
</body>
</html>
